.formbox{
    border: 3px solid blue;
    width: max-content;
    margin: auto;
    padding: 2rem;
}

.formbox > *{
    display: block;
    margin: auto;
    margin: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border :
}