.formbox{
    border: 5px solid blue;
    margin: auto;
    width: max-content;
    align-items: center;
    display: block;
    padding: 0.5rem;
  }
  
  .formbox *{
    display: block;
    margin: auto;
  }
  
  .formbox > input{
    display: flex;                      
    justify-content: start;
  }